<% if user_signed_in? %>
  <div class="container">
    <h2><center>All Galt Users</center></h2>
    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th><center>Name</center></th>
          <th><center>Email</center></th>
          <th><center>Admin</center></th>
          <%if current_user.try(:admin?) %>
            <th><center>Toggle Admin</center></th>
          <%else%>
          <%end%>
          <% if current_user.try(:admin?) %>
            <th><center>Delete Account</center></th>
          <%else%>
          <%end%>
        </tr>
      </thead>
      <tbody>
      <% @users = User.all %>
      <% @users.each do |user| %>
          <tr class="<%= 'warning' if user==current_user %>">
            <%= content_tag :td do %>
               <a><center><%= user.firstname %> <%= user.surname %></center></a>
            <%end%>
            <%= content_tag :td do %>
                <center><%= user.email %></center>
            <%end%>
            <% if user.try(:admin?) %>
                    <td><center>Yes</center></td>
                <%else %>
                    <td><center>No</center></td>
            <%end%>
            <%if current_user.try(:admin?) %>
              <% if user.try(:admin?) %>
                <td><center><%= link_to "Remove Admin", {action: "toggle_admin", id: user.id }, class: "btn btn-warning", method: :put, data: { confirm: "Are you sure you want to remove "+user.firstname + " " + user.surname+"'s admin privileges?"} %></center></td>
              <%else%>
                <td><center><%= link_to "Add Admin", {action: "toggle_admin", id: user.id }, class: "btn btn-info", method: :put, data: { confirm: "Are you sure you want to give "+user.firstname + " " + user.surname+" admin privileges?"} %></center></td>
              <%end%>
            <%else%>
            <%end%>
                <% if current_user.try(:admin?) %>
                  <td><center><%= link_to "Delete", admin_destroy_user_path_path(user), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete" + user.email + " ?" } %></center></td>
                <%else%>
                <%end%>
          </tr>
      <%end%>
      </tbody>
    </table>
  </div>
  <%else%>
  <p>You are not signed in.</p>
  <%end%>