<div class="container">
  <h2>List all Users</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Toggle Admin</th>
      </tr>
    </thead>
    <tbody>
    <% @users = User.all %>
    <% @users.each do |user| %>
      <tr>
        <%= content_tag :td do %>
            <%= user.firstname %> <%= user.surname %>
        <%end%>
        <%= content_tag :td do %>
            <%= user.email %>
        <%end%>
        <% if user.try(:admin?) %>
                <td>yes</td>
            <%else %>
                <td>no</td>
        <%end%>
            <td><%= button_to "Toggle Admin", {action: "toggle_admin", id: user.id }, method: :put %></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>