<% if !user_signed_in? # if the user is not signed in, render this %>
    <style>
        body {
            background: linear-gradient( /* somewhat transparent film on top of the BG to make it look darker. */
                rgba(0,0,0, 0.7),
                rgba(0,0,0, 0.7)
                ), url("/bg.jpg") no-repeat center center fixed
            
            ; /* only display once, center horizontal and vertical, dont let scroll change position. */
            -webkit-background-size: cover;
            -moz-background-size: cover; /* cover the whole html element. */
            -o-background-size: cover;
            background-size: cover;
        }
        h1 {
            color: white;
            font-weight: bold;
        }
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        .text {
            color: white;
            font-weight: 300;
            font-size: 150%;
        }
        .footer-links {
            text-align: center;
            color: white;
            margin-top: 30%;
            font-size: 75%;
        }
        .log-in {
            float: right;
            width: 300px;
            height: 200px;
            margin-top: 7.5%;
        }
        .sign-up {
            float: right;
            width: 300px;
            height: 325px;
        }
        .log-in-form {
            margin: 5px;
        }
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>Galt Resource Management</h1>
            <p class="text">
                Brief Description
            </p>
        </div>
        <div class="col-sm-6">
                   <div class="log-in panel">
                       <center><h3>Log In</h3>
                       <%= form_for(:user, :url => session_path(:user)) do |f| %>
                          <div><%= f.text_field :email, :placeholder => "Email"%></div><br>
                          <div><%= f.password_field :password, :placeholder => "Password" %></div>
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %><br>
                          <%= f.submit 'Sign in' %>
                          <%= link_to "Forgot your password?", new_password_path(:user) %>
                        <% end %></center>
                    </div> 
                    
                   <div class="sign-up panel">
                       <center><h3>Sign Up</h3>
                       <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>
                        <div><%= f.text_field :firstname, :placeholder => "First Name" %></div><br>
                        <div><%= f.text_field :surname, :placeholder => "Surname" %></div><br>
                        <div><%= f.email_field :email, :placeholder => "Email" %></div><br>
                        <div><%= f.password_field :password, :placeholder => "Password" %></div><br>
                        <div><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div><br>
                        <div><%= f.submit "Sign up" %></div>
                        <% end %></center>
                   </div> 
        </div>
        
        <div class="col-sm-12">
            <p class="footer-links">Footer Content</p>
        </div>
        
    </div>

<% else # if the user IS signed in, render the following %>

    <script>document.location = "/home"</script>

<% end %>